{% extends "index.html" %}
{% block title%}
   Home
{% endblock %}

{% block content %}

<div class="p-3">
    <div class="jumbotron mx-auto p-2">
        <div>
            <h1 class="display-4">Siap Asdos</h1>
            <p class="lead">mini web ini berguna untuk penentuan atau sebagai pendukung keputusan pemilihan asisten dosen dalam beragam mata kuliah.</p>
            
        </div>
        <hr class="my-4">
        <div class="mx-auto p-2">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </div>
    </div>
</div>



{% endblock %}